* {box-sizing: border-box;}

/* Main */
.search-container {
    width: 100%;
    padding: 20px;
    background-color: #7EA16B;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #7EA16B;
}

.search-container input[type=text] {
    margin: 0 auto;
    padding: 6px;
    font-size: 16px;
    border: none;
    width: 100%;
    border-radius: 5px;
    color: #686868;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.search-container input[type=text]:focus {
    outline: none;
}

.recent-events {
    width: 100%;
    margin-top: 32px;
}

.recent-events h1 {
    border-bottom: 2px solid #7EA16B;
}

.card {
    border-radius: 5px;
    box-shadow: 0px 4px 8px 1px #7EA16B;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0px 8px 16px 1px #7EA16B;
}

.container {
    padding: 8px 32px;
}

.container .top {
    height: 50px;
    border-bottom: 1px solid #7EA16B;
}

.container .top #league {
    float: left;
    font-size: 16px;
}

.container .top #sport {
    float: right;
    font-size: 16px;
}

.container .results {
    margin-top: 20px;
    height: 86px;
    word-wrap: normal;
    font-size: 24px;
    /*border-left: 1px solid #7EA16B;
    border-right: 1px solid #7EA16B;*/
}

.container .results .team1 {
    float: left;
    /*width: 150px;*/
    width: 50%;
}

.container .results .team2 {
    float: right;
    text-align: right;
    /*width: 150px;*/
    width: 50%;
}

.container .results p {
    height: 43px;
    /*line-height: 43px;*/
    margin: 0 auto;
}

.container .results p#score {
    font-weight: bold;
}

.results .vs {
    position: fixed;
    text-align: center;
    left: 25%;
    right: 25%;
    
}

.results img {
    width: 105px;
    height: 58px;
    margin-top: 15px;
}

.container .date, .container .final {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.container .final {
    color: #70161E;
}

/* End of Main */