/* Main */
.search-container {
    width: 100%;
    padding: 20px;
    background-color: #596F62;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #596F62;
}

.search-container input[type=text] {
    margin: 0 auto;
    padding: 6px;
    font-size: 16px;
    border: none;
    width: 100%;
    border-radius: 5px;
    color: #1C3144;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.search-container input[type=text]:focus {
    outline: none;
}

.recent-events {
    width: 100%;
    margin-top: 32px;
}

.container .card {
    padding: 8px 32px;
    margin-bottom: 24px;
}

.container .top {
    height: 50px;
}

.container .top #league {
    float: left;
    font-size: 16px;
}

.container .top #sport {
    float: right;
    font-size: 16px;
}

.container .results {
    margin-top: 20px;
    height: 86px;
    word-wrap: normal;
    /*border-left: 1px solid #7EA16B;
    border-right: 1px solid #7EA16B;*/
}

.container .results .team1 {
    float: left;
    /*width: 150px;*/
    width: 50%;
}

.container .results .team2 {
    float: right;
    text-align: right;
    /*width: 150px;*/
    width: 50%;
}

.container .results .team2 p#team_name {
    margin-right: -5px;
}

.container .results p {
    margin: 0 auto;
    display: inline-block;
}

.container .results p#team_name {
    
}

.container .results p#score {
    font-weight: bold;
    color: #70161E;
    font-size: 44px;
}

.results .vs {
    position: absolute;
    text-align: center;
    left: 25%;
    right: 25%;
    
}

.results img {
    width: 105px;
    height: 58px;
    margin-top: 15px;
}

.container .date, .container .final {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.container .final {
    color: #70161E;
}

/* End of Main */