* {box-sizing: border-box;}

html {
    font-family: 'Raleway', sans-serif;
    color: #1C3144;
    font-size: 18px !important;
}

body { 
    margin: 0;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 16px;
}

h1 {
    color: #1C3144;
    padding-bottom: 4px;
    border-bottom: 2px solid #596F62;
}

h2 {
    font-size: inherit;
    font-weight: inherit;
}

.card {
    border-radius: 5px;
    box-shadow: 0px 4px 8px 1px #596F62;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0px 8px 16px 1px #7EA16B;
}

.underline {
    border-bottom: 1px solid #596F62 !important;
}

/* Header */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.header img {
    float: left;
}

.header .center a {
    color: #7EA16B;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
}

.header a.left {
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.header a.left:hover {
    color: #1C3144;
}

.header .center {
    margin: 0 auto;
    width: 265px;
    margin-top: 20px;
}

.header .center a:hover {
    border-bottom: 2px solid #596F62;
    color: #596F62;
}
/* End of Header */